<!--REMOVE LOGIC-->
<% if @campaign.present? %>
    <h1>The characters in this campaign:</h1>
<% else %>
    <h1>All Your Characters: (No campaign specified)</h1>
<% end %>

<div>
    <ul> 
    <% @characters.each do |c| %>
    <li><%= link_to c.name, character_path(c) %></li>
    <% end %>
    </ul>
</div>


<!-- REMOVE LOGIC-->
<!-- FROM CAMPAIGNS/ID/CHARACTERS PATH, DO NOT WANT:-->
<%= link_to 'Create New Character', new_character_path %>